/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2023-08-07 14:35:12 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 49%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 49%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 36.75%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 36.75%;
    }
}
@media (max-width: 480px){
    .products-grid .product-item {
        float: none;
        width: 100%;
        padding: 10px 0;
    }
}

.terms-sub-header {
    color: grey;
  }

  .terms-section-headers {
    color: rgb(0, 0, 61);
    margin: 1em 0em;
  }

  .terms-section-paragraph {
    margin-left: 4em;
    text-align: justify;
  }

  .terms-section-paragraph-sub {
    margin-left: 7em;
    text-align: justify;
  }
  .terms-numbers {
    color: grey;
  }


.team-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


.box-tocart .action.tocart {
margin-bottom: 5px !important;
min-width: 200px !important;
}



.level0.parent:hover > a > span:after {
transition: none;
}




.checkout-container {
max-width: 80%; 
margin: auto;
}


.page-header .navigation:not(.side-megamenu) .level0.parent:hover > a {
color: white;

}


#maincontent > div.columns > div > div.product-info-main > div.product.attribute.overview > div > div.desc-price-starting {
display: none!important;
}

#maincontent > div.columns > div > div.product-info-main > div.product.attribute.overview > div > div.button-desc {
display: none!important;
}



.product-items .product-item-info:hover {
border: 1px solid rgba(0, 0, 0, 0) !important;
}
.products-list .product-items .product-item-info {
border: none;
border-bottom: 1px solid grey!important;
padding-top: 30px;
}
.product-items .product-item-info {
box-shadow:  none !important ;
border: none;
border-bottom: 1px solid grey !important;

}

.toolbar-products {
background-color: rgb(241,241,241);
padding: 10px 10px 1px 10px;
border-top: solid 1px grey;
border-bottom: solid 1px grey;
margin-right: 1px;
}

.pages .item {
background-color: white;
}


.product-item-info .product-item-details .product-item-actions {
display: none !important;
}


.products.wrapper ~ .toolbar {
margin-bottom: 25px !important;
}




div.short-custom-block {
float: left !important;
}


.product-image-container .product-image-photo img {
width: 240px !important;
height: 300px !important;
}



.products-grid.no-padding {
   display: flex!important; /* Use flexbox to align the boxes */
   flex-wrap: wrap!important; /* Wrap the boxes to the next line if there is no space */
}

.products-grid.no-padding .product-item {
   flex: 1 1 auto !important; /* Make all the boxes the same height */
max-height: 400px!important;
margin-bottom: 10px;
min-width: auto;

}

.products-grid.no-padding .product-item .product-item-link{
word-wrap: break-word; /* Breaks the text at the end of the line */
  white-space: normal; /* Allows the text to wrap onto the next line */
  overflow-wrap: break-word; /* Breaks the text when it overflows the container */
}

.product-item-info.type5 .product-image-photo {
height: 300px!important;
width: 300px!important;
}


#gallery_images > div.owl-stage-outer > div > div > div > img {
padding: 20px;
}

.product-image-home {
height: 200px;
}


#layer-product-list > div.products.wrapper.list.products-list > ol > li > div > div.product.photo.product-item-photo {
padding: 20px; 
flex: 0 0 350px !important;
}


.product-options-bottom .box-tocart {
/*background-color: #efefef;*/
background-color: #f9f9f9;
border: 1px solid grey !important;
padding: 10px !important;
}

.owl-carousel.owl-drag .owl-item {
padding: 20px;
}

.catalog-product-view.product-type-carousel:not(.weltpixel_quickview-catalog_product-view) .product-info-main .product-info-price {
display: block;
align: left;
}
.product-add-form .product-options-bottom .price-box, .product-info-price .price-box {
align-items: flex-start !important;
margin-top: 15px;
}

.total_wrapper {
background-color: white;
padding: 20px 10px;
border: 1px solid rgba(0,0,0,0.1);
}

.total_title {
font-size: 18px !important;
}

.product-options-wrapper {
border: none !important;
box-shadow: none !important;
}

.product-options-wrapper .fieldset .field {
background-color: #f9f9f9;
}

.catalog-product-view .product-options-bottom .qty.field .control {
background-color: white;
}.paypal-button-container {
margin-top: 10px !important;
}


#payment-request-button {
display: none!important;
}

.payment-request-button.action.tocart.StripeElement { 
display: none!important;
}

.products-grid .product-item-info {
    height: 100%;
}




.products-grid .product-item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.products-grid .product-item-image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-grid .product-item-details {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





ul#ui-id-1 {
width: 100%;
}





#product-addtoquote {
background: rgb(38,182,222);
color: white;
}



.ShortDescSF ul {
list-style: none;
  padding: 0;
  margin: 0;
}

.ShortDescSF ul li {
padding-left: 1em; 
  text-indent: -.7em;
}

.ShortDescSF ul li::before {
  content: "•";
padding-right:7px;
  color: rgb(38,182,222); /* or whatever color you prefer */
}



/*********************************
     Max-Width 767px START
*********************************/
.page-header.type16 .navigation:not(.side-megamenu) > ul {
    overflow: visible;
}

.logo img {
width: 300px !important;
}




.product-options-wrapper .fieldset .field:not(.field.choice) {
padding: 15px;
border: 1px solid grey; 
}

.product-options-wrapper .fieldset .field .label:not(.label.admin_field-label) {
font-size:  16px;
}





.page-header .navigation .level0.parent>a:after {
content: "" !important;
}

.category-view .page-main {
padding-left: 0px !important;
padding-right: 0px !important;
}

.page-wrapper .page-main {
padding-bottom: 0px !important;
}





/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
/*.services .icon-box {
  padding: 50px 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  height: 200px;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #ff5821;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.services .title a {
  color: #343a40;
}

.services .icon-box:hover .icon {
  background: #fff;
  border: 2px solid #ff5821;
}

.services .icon-box:hover .icon i {
  color: #ff5821;
}

.services .icon-box:hover .title a {
  color: #ff5821;
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}*/




@media (max-width: 767px) {
  .logo {
    max-width: 200px;
  }

.products-grid.no-padding .product-item {
min-width: 100%;
}
}

/*********************************
     Max-Width ENDpx START
*********************************/


/*********************************
     Max-Width 991px START
*********************************/

@media (max-width: 991px) {
  .nav-sections .header.links {
    margin-left: 10px;
  }

.products-grid.no-padding .product-item {
min-width: 100%;
}

  div.teamTabs .tabs-navigation li.tab-header {
    font-size: 10px important;
  }

  .boxesWhy {
    margin-top: 20px;
    max-height: 300px;
    box-shadow: none;
    border-radius: 0px;
 background-image:
    linear-gradient(
      to left, 
      #fff 15%,
      #FFFFFF 75%,
 #FFFFFF 75%,
#75b4da 15%

    );
  }

  .iconsWhyUs {
    width: 150px;
    height: 300px;
    margin: auto;
    margin-top: 0px;
    display: inline;
    align-items: center;
    background-color: rgb(95, 182, 222);
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    top: -1px;
    left: -1px;
    right: 0;
    border: 0px solid #efefef;
  visibility: hidden;

  }

  .descImgHomeWhy img {
    position: absolute;
    top: 100px;
    width: 100px;
    right: 10px;

  }

  .iconsonWhy {
    display: none;
  }

  .textBoxWhy {
    float: left;
    max-width: 75%;
    position: absolute;
    text-align: left;
    left: 175px;
  }

  .textBoxWhy h3 {
    margin-left: 7px;
  }

  .whychoosebackgroundBlue {
    background-color: #efefef !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}



/*********************************
     Max-Width 991px END
*********************************/




/********************************
   Start of 991px and Above 
********************************/

.products-list .product-items .product-item-info {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0)
}

.products-grid .product-item {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0)
}

.products-list .product-items .product-item-info:hover {
  border: 1px solid rgba(88, 176, 218, 0.3);
}

.page-products .columns {
  max-width: 1660px;
  width: 100%;
  margin: auto;
}

.page-title-wrapper {
  max-width: 1660px;
  margin: auto;
  width: 100%;
}

.search-area .block.block-search {
  max-width: 500px;
  border-radius: 0;
}

.specialise {
  color: white;
}

.navigation li.level0:hover {
  background-color: #5ab1da;
}

.nav-sections {
  margin-left: -20px;
  margin-right: -20px;
}

.page-header.type16 .main-panel-top {
  display: block;
}

.whySF {
  background-color: rgba(255, 255, 255, 0.2);
}

.dividerHome hr {
  background-color: rgba(255, 255, 255, 0.06) !important;
}

.landingbanner {
  border-bottom: 12px solid #ddd;
}

.row-full-width-inner {
  max-width: 1400px !important;
}

.parallax-home #jarallax-container-0 {
  filter: brightness(30%) !important;
}

.logo img {
  width: 500px;
}

.cookie-status-message {
  display: none;
}

.catalog-product-view .page-main {
  max-width: 1400px;
}

.product-options-wrapper {
  float: left;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  min-width: 55% !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

input[type="radio"] {
  margin: 0px 2px 0px 0px !important;
  vertical-align: middle !important;
}

.price-container {
  font-weight: 700;
}

.configTab>.label {
  background-color: #f0f0f0;
  display: block !important;
  padding: 15px;
  font-size: 1.3em !important;
  margin-bottom: 0px !important;
  font-weight: 700 !important;
}

.configTab .control {
  padding: 15px;
}

#product-addtoquote {
  width: 100%;
  height: auto;
}

.productSlider .product-item-name a {
  color: white !important;
}

.productSlider .product-item {
  width: 95% !important;
}

.productSlider .product-item-photo {
  margin-bottom: 0px !important;
}

.productSlider .product-item-details {
  background-color: #5ab1da;
  padding: 10px;
}

.productSlider .product-item-actions .actions-secondary {
  display: none !important;
}

.product-info-main .price-container span {
  color: black !important;
}

.price-including-tax:before {
  content: "Inc. Vat ";
}

.shortDescTick::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c ";
  color: #5ab1da;
}

div.teamTabs .tabs-navigation li.tab-header.ui-state-active {
  border-top: 4px solid rgb(89, 176, 218) !important;
  color: rgb(89, 176, 218) !important;
}

.teamBio {
  transition: all 0.4s ease-in-out;
}

.teamBio:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.4s ease-in-out;
}

.teamBio .teamBioBorder {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
  transition: all 0.4s ease-in-out;
}

.teamBio:hover .teamBioBorder {
  border-bottom: 2px solid rgb(89, 176, 218) !important;
  transition: all 0.4s ease-in-out;
}

.teamLinkedin img {
  height: 32px !important;
  width: 32px !important;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}

.teamBio:hover .teamLinkedin img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transition: all 0.4s ease-in-out;
}

.meettheTeam h1 {
  margin-bottom: 0px;
}

.testimonialsSlider {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.whyChooseSfText {
  font-size: 16px;
  color: white;
  line-height: 14px;
}

.whyChooseSfText:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: white;
  vertical-align: 20%;
}

.sflogorack img {
  height: 200px !important;
  width: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.collapsibleTitle {
  padding: 20px 0px;
}

.collapsibleTitle[aria-expanded="false"] h2::after {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  color: white;
  float: right;
  font-size: 14px;
  transition: all 0.4s ease-in-out;
}

.collapsibleTitle[aria-expanded="true"] h2::after {
  font-family: "Font Awesome 5 Free";
  content: "\f068";
  color: white;
  float: right;
  font-size: 14px;
}

.homeAccordion {
  transform: translateZ(0);
}

.homeAccordion>.homeAccordion-toggle {
  position: absolute;
  opacity: 0;
  display: none;
}

.homeAccordion>label {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #efefef;
  cursor: pointer;
  color: white;
}

.homeAccordion>label:after {
  font-family: "Font Awesome 5 Free";
  content: '\f067';
  position: absolute;
  top: 0px;
  right: 20px;
  transition: .3s transform;
}

.homeAccordion>section {
  height: 0;
  transition: .3s all;
  overflow: hidden;
  color: white;
}

.homeAccordion>.homeAccordion-toggle:checked~label:after {
  content: '\f068';
  font-family: "Font Awesome 5 Free";
}

.homeAccordion>.homeAccordion-toggle:checked~section {
  height: 200px;
}

.homeAccordion>section p {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.5;
}

#description {
  padding: 10px;

}

.product.data.items>.item.content {
  margin-top: 49px !important;
  z-index: 1;
}

.product.info.detailed {
  padding-top: 50px;
}

.product.data.items .item.title.active {
  border: 1px solid #ddd;
  border-top: 2px solid rgb(88, 179, 233);
  border-bottom: 1px solid transparent;
  z-index: 100;
  overflow: hidden;
}

.product.data.items>.item.title {
  padding: 12px 20px;
  font-size: 16px;
  margin: 0px;
}

.boxesWhy {
  background-color: white;
  height: 400px;
  margin: 0px 15px;
  postion: relative;
  top: -100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid #efefef;
  border-radius: 15px;
}

.backgroundcolor {
  position: relative;
}

.iconsWhyUs {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(95, 182, 222);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  position: absolute;
  top: -100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 7px solid #efefef;
}

.textBoxWhy {
  margin-top: 80px;
}

.textDetailsWhy {
  padding: 15px 10px 0px 10px;
}

.iconsonWhy {
  margin: auto;
  color: white;
}

.descImgHomeWhy {
  width: 100%;
}

.descImgHomeWhy img {
  margin: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


/*   testing */

solutionsBoxDesc ul li {
border-bottom: 1px solid green;
padding: 5px 0px;
}


.solutionsBoxDesc ul {
   padding: 0;
    list-style-type: none;
}

.alexboxtest {
border-radius: 25px;
background-color: white;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}



.systemBox .solutionsBoxImg {
text-align: center;
margin-bottom: 10px;
}

.alexfonttest 
{
...
h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
}
}

a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
$color: #0cf;

.buttonSolution2 {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}*/

/* optional reset for presentation */
/** {
  font-family: Arial;
  text-decoration: none;
  font-size: 18px;
}
.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
  a {
    font-size: .7rem;
    color: #999;
    text-decoration: underline;
  }
}
.scrollerForSolution {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple grey;
  scrollbar-width: thin;
}

.main {
padding-bottom: 0px!important;
}